:root {
  --height-footer: 300px;
  --principal-color: #477987;
  --max-width-main: 1100px;
}
body {
  margin: 0;
  font-family: "Ubuntu", "Segoe UI", "Roboto", "Oxygen", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.App {
  position: relative;
  min-height: 100vh;
}
.contenidoCentral {
  padding-bottom: var(--height-footer);
  margin-bottom: 0;
}
.defaultLink {
  color: black;
  text-decoration: none;
}
.defaultLink:hover {
  color: rgb(72, 72, 72);
}
/* BEGIN CONTENT HEADER */
.tagName,
.titleApp {
  user-select: none;
}
.contenedor-header {
  max-width: var(--max-width-main);
  /* border: 1px solid rgb(255, 33, 33); */
}
.headerMain {
  background-color: rgba(221, 218, 218, 0.809);
}
.btnSignUp {
  display: inline;
  margin: 0 5px;
  text-align: end;
  float: right;
  font-weight: 600;
  font-size: 1.3em;
}

.inputHeader {
  width: 300px;
  position: relative;
  left: 0;
  float: right;
  padding: 0 35px 0 10px;
  height: 35px;
  border-radius: 10px;
  border-width: 0;
  border-color: transparent;
  transition: outline-color 0.2s ease-out;
}

.inputHeader:focus-visible {
  outline-style: solid;
  outline-color: rgba(128, 128, 128, 0.306) !important;
}
.iconSearch {
  background-color: transparent;
  border: 0px solid transparent;
  position: absolute;
  right: 22px;
  top: 5px;
}
.formSearch {
  position: relative;
}
.svgSearch {
  position: relative;
  top: -3px;
}

@media (max-width: 724px) {
  .tagName {
    display: none;
  }
  .formSearch {
    top: 42px;
  }
  .headerUser {
    position: relative;
    top: -50px;
    left: 107%;
  }
  .inputHeader {
    width: 94vw;
  }
  .btnSignUp {
    font-size: 0.9em;
  }
  .inputHeader {
    border: 1px solid rgba(128, 128, 128, 0.306) !important;
    margin-bottom: 21px;
  }
}
/* END CONTENT HEADER */
/* BEGIN CONTENT FOOTER */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--height-footer);
  background-color: var(--principal-color);
  color: white;
  text-align: center;
  /* padding: 0 200px; */
  padding-top: 10px;
}
.footer .row {
  max-width: var(--max-width-main);
  margin-left: auto;
  margin-right: auto;
}
.list-unstyled {
  text-align: start;
  font-size: 0.8em;
  font-weight: lighter;
}
.list-unstyled li {
  padding: 10px 0;
}
.list-unstyled.rightListFooter {
  text-align: end;
}
/* END CONTENT FOOTER */
/* BEGIN LOGIN  */
.formLogin {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 1px solid rgba(185, 185, 185, 0.706);
  padding: 20px 40px;
  margin-bottom: 100px;
  display: block;
  border-radius: 5px;
}
.buttonLogin {
  width: 100%;
  background-color: var(--principal-color) !important;
  border-width: 0;
  margin-top: 15px;
}
.formLogin small {
  display: block;
  text-align: center;
}
.titleLogin {
  text-align: center;
  margin-top: 15px;
  border-bottom: 1px solid rgba(179, 179, 179, 0.79);
  padding-bottom: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/* END LOGIN */
/* BEGIN NEW RELEASES */
.contentainer-NewReleases {
  max-width: var(--max-width-main);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.musicItem {
  /* border: 1px solid black; */
  margin: 0 3px;
  transition: opacity 0.09s ease-in-out;
  font-size: 0.9rem;
}
.musicItem:hover {
  opacity: 0.8;
}
.musicItem img {
  /* height: auto; */
  width: 212px;
}
.musicItem .title {
  font-weight: 700;
}
/* BEGIN ALBUM */
.centerContent {
  max-width: var(--max-width-main);
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
/* END ALBUM */
